#
#Fri Feb 01 14:29:11 CET 2019
pop3security=SSL
pop3password=GanzSicheresPasswort
smtpsecurity=STARTTLS
pop3port=995
smtppassword=GanzSicheresPasswort
user=mf.dev
smtpport=587
displayname=Markus Fischer
pop3user=mf.dev
smtpuser=mf.dev
smtpserver=smtp.mail.de
pop3server=pop.mail.de
address=mf.dev@mail.de
password=GanzSichersPasswort
