#
#Fri Feb 01 09:58:50 CET 2019
pop3security=
pop3password=
smtpsecurity=
pop3port=
smtppassword=GanzSicheresPasswort
user=mf.dev
smtpport=587
displayname=Fischer Markus
pop3user=mf.dev
smtpserver=firemail.de
smtpuser=mf.dev@firemail.de
address=mf.dev@mail.de
pop3server=pop.mail.de
password=GanzSicheresPasswort
